@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

/* Hide on medium and smaller screens, show on large screens and above */
.menu-links {
  display: flex;
  gap: 1.5rem;
  /* Space between links */
}

.actions .login,
.actions .trial {
  display: block;
}

.mobile-menu-toggle {
  display: none;
}

/* Media query for medium screens and smaller */
@media (max-width: 768px) {
  .menu-links {
    display: none;
    /* Hide menu links on smaller screens */
  }

  .actions {
    display: none;
    /* Hide Login and Start Free Trial on smaller screens */
  }
}

@keyframes floatPulse {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-5px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.float-hover:hover {
  animation: floatPulse 2s ease-in-out infinite;
  transform: translateY(-5px);
}

.rotate-hover {
  transition: transform 0.6s ease-in-out;
}

.rotate-hover:hover {
  transform: rotate(15deg);
}

button {
  cursor: pointer !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
  will-change: transform, opacity;
}
